
name: Publish
on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Activate melos
        run: |
          echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
          pub global activate melos
      - name: Login pub
        run: |
          echo "${{ secrets.PUB_CREDENTIALS}}" | base64 -d > $HOME/.pub-cache/credentials.json
      - name: Bootstrap melos
        run: melos bs
      - name: Validate publish
        run: melos publish --dry-run --yes
